@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #e5e7eb;
}

body {
  @apply bg-slate-950 text-slate-50 min-h-screen antialiased;
}

button {
  @apply outline-none;
}